
<div class="discount-badge-grand-container">

    <div class="discount-badge-container">

        <div class="discount-badge-row-1">ЦЬОГО</div>
        <div class="discount-badge-row-2">ТИЖНЯ</div>
        <div class="discount-badge-row-3">НА ВСЕ</div>

        <div class="discount-badge-row-4">

            <div class="inner">-20%</div>

        </div>

    </div>

    <div class="discount-triangle-1"></div><div class="discount-triangle-2"></div>

</div>

<script	src="//static.liqpay.ua/libjs/checkout.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC5X9AK6lXZhwNxAS3l4JXZzz9-SKKtNDM&libraries=places"></script>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>